@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.contenedor {
    width: 100%;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

#registrarse-title{
    margin-bottom:15px;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 10px;
}
.form-control.is-invalid{
    margin-top:0px;
}
.is-invalid{
    color: red;
    font-size: 10px;
    width: 380px;
    margin-top: 5px;
}
.input-field {
  max-width: 380px;
  width: 70vw;
  background-color: #f0f0f0;
  
  margin-bottom: 40px;
  height: 40px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 1rem;
  position: relative;

}
.btn-submit[value="Registrarse"]{
    margin-top: 35px;
}
.input-field i {
  text-align: center;
  line-height: 40px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;

  font-weight: 600;
  font-size: 0.7rem;
  color: #333;
  align-items: center;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 0.6rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color:#4A758E;
  border-color: #4A758E;
}

.btn {
  width: 150px;
  background-color: #4A758E;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px auto;
  cursor: pointer;
  transition: 0.5s;

}

.btn-submit{
    width: 150px;
  background-color: #3b86b1;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px auto;
  cursor: pointer;
  font-size:12px;
  transition: 0.5s;
    display:flex;
    justify-content:center;
}
.btn-submit:hover{
    background-color: #59b9d4;
}
.btn:hover {
  background-color: #59b9d4;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contenedor:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #5DA8BD 0%, #327399 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 80%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}


.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

header{
    position: fixed;
    width: 100%;
    height: 3rem;

    z-index: 100;
    
}
.navbar{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
}  
.logo{
    top:0%;
    height:100%;
    width: auto;
    padding: 10px 0;
    
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.2rem;
  margin-top: 10px;
}

.panel p {
  font-size: 0.7rem;
  padding: 0.7rem 0;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.btn.transparent:hover{

    background-color: #5e9ec4;
}
.img-register{
    width: 110%;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.contenedor.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.contenedor.sign-up-mode .left-panel .image,
.contenedor.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.contenedor.sign-up-mode .signin-signup {
  left: 25%;
}

.contenedor.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.contenedor.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}


.contenedor.sign-up-mode .right-panel .image,
.contenedor.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.contenedor.sign-up-mode .left-panel {
  pointer-events: none;
}

.contenedor.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px){
  
  .signin-signup {
    width: 100%;
    margin-top:5rem;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .contenedor.sign-up-mode .signin-signup {
    left: 50%;
  }
  .signin-signup{
    top:85%;
  }
  .contenedor.sign-up-mode .signin-signup{
    top: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    align-self: end;
    padding-top: 3.2rem;
    padding-bottom: 2rem;
  }

  .left-panel {
    align-self: start;
    padding-top:20px;
  }

  .image {
    display: none;
  }
 

  .panel .content {
    padding: 0.5rem 1rem;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .content-login{
    padding-top:60px;

  }

  .panel h3 { 
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .panel p {
    font-size: 0.7rem;
    width: 85%;
    margin: 0 auto;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .contenedor{
    padding: 1.5rem;
  }
  .contenedor:before {
    width: 1500px;
    height: 800px;
    transform: translateX(-50%);
    bottom: 70%;
    left: 50%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
    
  }

  .contenedor.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 16%;
    left: 50%;
  }

  .contenedor .panels-container{
    margin-top: 2rem;
  }

  .contenedor.sign-up-mode .signin-signup .sign-up-form {
    top: 0%;
    transform: translate(0, 25%);
  }

  .content-register{
    margin-bottom: 40%;
  }

  .contenedor.sign-up-mode .panels-container .panel.left-panel {
    opacity: 0%;
  }

  .contenedor.sign-up-mode .panels-container .panel.right-panel{
    opacity: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-self: center;
  }

  .contenedor.sign-up-mode .panels-container .panel.right-panel .content-login p{
    display:none;
  }

  .contenedor .panels-container .panel.left-panel .content-register p{
    display:none;
  }

  .contenedor .panels-container .panel.right-panel{
    opacity: 0%;
  }

  .contenedor .panels-container .panel.left-panel{
    opacity: 100%;
  }

}

